<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Creator</title>
</head>
<body>
    <nav>
        <div><a id="galleryBtn" href="/creator">Galleries</a></div>
        <div><a id="accountBtn" href="/account">Account</a></div>
        <div><a href="/logout">Log Out</a></div>
    </nav>

    <section id="app"></section>

    <script src="./assets/appBundle.js" type="text/javascript"></script>
</body>
</html>