<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/app.css"/>
    <title>Gallery Creator</title>
</head>
<body>
    <nav id="appNav">
        <h2>Gallery Creator</h2>
        <div id="appLinks">
            <a id="galleryBtn" class="appNavLink" href="/creator"><div>Galleries</div></a>
            <a id="accountBtn" class="appNavLink" href="/account"><div>Account</div></a>
            <a class="appNavLink" href="/logout"><div>Log Out</div></a>
        </div>
    </nav>

    <section id="app"></section>

    <script src="./assets/appBundle.js" type="text/javascript"></script>
</body>
</html>