<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/notFound.css"/>
    <title>Not Found</title>
</head>
<body>
    <div id="content">
        <div id="header">
            <img src="assets/images/icons8-broken-link-64.png" alt="Image of broken link."/>
            <h1>404 - Content Not Found</h1>
        </div>
        <h3>The content you were looking for could not be found.</h3>
    </div>
</body>
</html>